// Bootstrap installation-------------------------------------------------------

@import "bootstrap-sprockets";
@import "bootstrap";

.row {
    margin-left: 0px; 
    margin-right: 0px; 
}

// Navbar CSS-------------------------------------------------------------------

.navbar-inverse{
    background: #10101000;
    border-color: #10101000;
    .navbar-nav > li {
        a {
            color: #d6d6d6;
        }
        a:hover {
            color: #f4f4f4;
            text-decoration: underline;
        } 
    }
}

.navbar {
    border: 0px;
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      padding: 0 20px 0 20px ;
      font-size: 20px;
    }
    .navbar-collapse {
      text-align: center;
      border-color: #10101000;
      box-shadow: none;
    }
}

//Welcome landing page----------------------------------------------------------

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    .welcome {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url("pug.jpg") no-repeat 50% 50% ;
        display: table;
        top: 0;
        background-size: cover;
        .inner {
            height: 100%;
            width: 100%;
            .row {
                margin-left: 0px; 
                margin-right: 0px; 
            }
        }
        .content {
            margin-top: 8%;
            .greeting {
                text-align: center;
                color: #f4f4f4;
                font-size: 50px;
            }
        }
    }
}

//About section-----------------------------------------------------------------

.about {
    height: 100%;
    width: 100%;
    display: table;
    margin: auto;
    top: 0;
    background-color: #11203d;
    color: #f4f4f4;
    .im-eric {
        text-align: center;
        margin-top: 35px;
        font-size: 40px;
    }
    .about-pic {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        background: url("profile.jpg") no-repeat 50% 50%;
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 100px;
        display: block;
    }
    .about-text {
        margin-bottom: 70px;
        margin-top: 20px;
        text-align: center;
    }
}

//Technical Skills--------------------------------------------------------------
.skills {
    background-color: #f2f2f2;
    .technical-skills {
        text-align: center;
        margin-top: 35px;
        font-size: 40px;
    }
    .skills-list {
        list-style: none;
        text-align: center;
        padding: 0 0 0 0;
        li {
            display: inline;
            img {
                 margin: 0 3.5% 0 3.5%;
                 padding: 20px 0 20px 0;
            }
            .language-logos-hcj {
                width: 60px;
            }
            .language-logos-jr {
                width: 80px;
            }
            .language-logo-b {
                width: 120px;
            }
        }
    }
}