// Bootstrap and Font-awesome installation--------------------------------------
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
html {
    background-color: #11203d;
}
.row {
    margin-left: 0px; 
    margin-right: 0px; 
}

// Navbar CSS-------------------------------------------------------------------

.navbar-inverse{
    background: #10101000;
    border-color: #10101000;
    .navbar-nav > li {
        a {
            color: #d6d6d6;
        }
        a:hover {
            color: #f4f4f4;
            text-decoration: underline;
        } 
    }
}

.navbar {
    border: 0px;
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      padding: 0 20px 0 20px ;
      font-size: 20px;
    }
    .navbar-collapse {
      text-align: center;
      border-color: #10101000;
      box-shadow: none;
    }
}

//Welcome landing page----------------------------------------------------------

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    .welcome {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url("pug.jpg") no-repeat 50% 50% ;
        display: table;
        top: 0;
        background-size: cover;
        .inner {
            height: 100%;
            width: 100%;
            .row {
                margin-left: 0px; 
                margin-right: 0px; 
            }
        }
        .content {
            margin-top: 8%;
            .greeting {
                text-align: center;
                color: #f4f4f4;
                font-size: 50px;
            }
        }
    }
}

//About section-----------------------------------------------------------------

.about {
    height: 100%;
    width: 100%;
    display: table;
    margin: auto;
    top: 0;
    background-color: #11203d;
    color: #f4f4f4;
    .im-eric {
        text-align: center;
        margin-top: 35px;
        font-size: 40px;
    }
    .about-pic {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        background: url("profile-pic.jpg") no-repeat 50% 50%;
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 100px;
        display: block;
    }
    .about-text {
        margin-bottom: 70px;
        margin-top: 20px;
        text-align: center;
    }
}

//Technical Skills--------------------------------------------------------------
.skills {
    background-color: #f2f2f2;
    .technical-skills {
        text-align: center;
        margin-top: 35px;
        font-size: 40px;
    }
    .skills-list {
        list-style: none;
        text-align: center;
        padding: 0 0 0 0;
        margin-bottom: 35px;
        li {
            display: inline;
            img {
                 margin: 0 3.5% 0 3.5%;
                 padding: 20px 0 20px 0;
            }
            .language-logos-hcj {
                width: 60px;
            }
            .language-logos-jr {
                width: 80px;
            }
            .language-logo-b {
                width: 120px;
            }
        }
    }
}

//Portfolio---------------------------------------------------------------------
.portfolio {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    background-color: black;
    display: table;
    .pic-bg {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url("Dev-match-screen-shot-dark.jpg") 50% 50% no-repeat;
        transition: all 1s;
        background-size: cover;
        position: relative;
        display: table;
        .margin-code { // The margin must be adjusted if you change any elements size inside the div content.
            margin: 19%;
            font-size: 25px;
            color: rgba(0, 0, 0, 0);;
        }
        .more-text {
            text-align: center;
            color: #f4f4f4;
            margin-bottom: 25px;
            
        }
    }
    .content { //Refrence the p tag in the .pic-bg div if you change any attreibute within this div tag.
        height: 100%;
        width: 100%;
        margin: auto;
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        .portfolio-heading {
            font-size: 40px;
            color: white;
            margin-top: 25px;
            text-align: center;
        }
        .people-img {
            background: url("people-dark.jpg") no-repeat 50% 50%;
        }
        .img-box {
            background-size: cover;
            margin: 10px auto;
            height: 130px;
            width: 230px;
        }
        .text-container {
            margin-top: 10px;
            font-size: 16px;
            
        }
        .devmatch-text {
            font-size: 25px;
            color: #f4f4f4;
            text-align: center;
            transition: all 500ms;
        }
        .dev-match-logo {
            width: 200px;
            margin: 30px 15px 15px 15px;
        }
    }
}

.invisble {
    opacity: 0;
}


//Contact---------------------------------------------------------------
.contact {
    background-color: #11203d;
    height: 30%;
    .contact-el-logo {
        margin: 50px auto 35px;
        height: 40px;
        width: 40px;
        display: block;
    }
    .footer-icons-row {
        text-align: center;
        .footer-icons {
            border-style: solid;
            border-color: #0a172e;
            border-radius: 100%;
            margin-top: 15px;
            margin-left: 3px;
            margin-right: 3px;
            color: #f4f4f4;
            padding: 6px;
            background-color: #0a172e;
        }
        
    }
    .email {
        display: block;
        text-align: center;
        color: #f4f4f4;
        margin-top: 15px;
        display: none;
        
    }
    .created-by {
        text-align: center;
        color: #f4f4f4;
        
    }
}