// Bootstrap installation
@import "bootstrap-sprockets";
@import "bootstrap";

// Navbar CSS
.navbar-inverse{
    background: #10101000;
    border-color: #10101000;
    .navbar-nav > li {
        a {
            color: #d6d6d6;
        }
        a:hover {
            color: #f4f4f4;
            text-decoration: underline;
        } 
    }
}

.navbar {
    border: 0px;
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      padding: 0 20px 0 20px ;
      font-size: 20px;
    }
    .navbar-collapse {
      text-align: center;
      border-color: #10101000;
      box-shadow: none;
    }
}
//Welcome landing page 
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    .welcome {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url("pug.jpg") no-repeat 50% 50% ;
        display: table;
        top: 0;
        background-size: cover;
        .inner {
        height: 100%;
        width: 100%;
        .row {
            margin-left: 0px; 
            margin-right: 0px; 
}
        }
        .content {
            margin-top: 8%;
            .greeting {
                text-align: center;
                color: #f4f4f4;
                font-size: 50px;
            }
        }
    }
}

