//Bootstrap and Font-awesome installation---------------------------------------

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
//MISC CSS----------------------------------------------------------------------

html, body {
    background-color: #11203d;
    font-family: 'Open Sans', times;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    p {
        font-family: 'Open Sans', times;
    }
    .row {
        margin-left: 0px; 
        margin-right: 0px; 
    }
    .el-logo {
        height: 35px;
        width: 35px;
    }
}
//Navbar------------------------------------------------------------------------

.navbar {
    border: 0px;
    background: #10101000;
    border-color: #10101000;
    .nav-logo {
        position: fixed;
        z-index: 1;
        opacity: .8;
        margin: 8px 10px;
    }
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      padding: 0 20px 0 20px ;
      font-size: 20px;
      a {
            color: #a8a8a8;
            transition: all .5s;
            padding-bottom: 0;
            border-bottom: solid transparent;
            font-family: 'Open Sans', times;
        }
        a:hover {
            color: #f4f4f4;
            border-bottom: solid #f4f4f4;
            transition: all .5s;
            padding-bottom: 0;
        }
    }
    .navbar-toggle {
        border-color: transparent;
        transition: all 1s;
    }
    .navbar-toggle:hover {
        background-color: rgba(51, 51, 51, .5);
        transition: all 1s;
    }
    .navbar-collapse {
      text-align: center;
      border-color: transparent;
      box-shadow: none;
    }
}
//Welcome landing page----------------------------------------------------------

.landingPage {
    height: 100%;
    width: 100%;
    margin: auto ;
    background: url("city.png") no-repeat 50% 50% ;
    display: table;
    top: 0;
    background-size: cover;
    .bg-tint {
        background-color: rgba(0, 0, 0, .5);
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .inner {
        height: 100%;
        width: 100%;
        .row {
            margin-left: 0px; 
            margin-right: 0px; 
        }
    }
    .content {
        margin-top: 11%;
        .greeting {
            text-align: center;
            color: #f4f4f4;
            font-size: 50px;
            
        }
    }
}
//About section-----------------------------------------------------------------

.about {
    height: 100%;
    width: 100%;
    display: table;
    margin: auto;
    top: 0;
    background-color: #11203d;
    color: #f4f4f4;
    .about-heading {
        text-align: center;
        margin-top: 35px;
        font-size: 40px;
    }
    .about-pic {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background: url("profile-pic.jpg") no-repeat 50% 50%;
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 100px;
        display: block;
    }
    .about-text {
        margin-bottom: 70px;
        margin-top: 50px;
        text-align: center;
        font-size: 25px;
    }
}
//Technical Skills--------------------------------------------------------------

.skills {
    background-color: #f2f2f2;
    .technical-skills-heading {
        text-align: center;
        margin-top: 35px;
        font-size: 40px;
    }
    .skills-list {
        list-style: none;
        text-align: center;
        padding: 0 0 0 0;
        margin-bottom: 35px;
        li {
            display: inline;
            img {
                 margin: 0 3.5% 0 3.5%;
                 padding: 20px 0 20px 0;
            }
            .language-logos-hcj {
                width: 60px;
            }
            .language-logos-jr {
                width: 80px;
            }
            .language-logo-b {
                width: 120px;
            }
        }
    }
}

//Portfolio---------------------------------------------------------------------
.portfolio {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    background-color: black;
    display: table;
    .invisble {
        opacity: 0;
    }
    .pic-bg {
        height: 100%;
        width: 100%;
        margin: auto;
        background: url("Dev-match-screen-shot-dark.jpg") 50% 50% no-repeat;
        transition: all 1s;
        background-size: cover;
        position: relative;
        display: table;
        .margin-code { // The margin must be adjusted if you change any elements size inside the div content.
            margin: 19%;
            font-size: 25px;
            color: rgba(0, 0, 0, 0);
        }
        .more-text {
            text-align: center;
            color: #f4f4f4;
            margin-bottom: 25px;
            text-decoration: underline;
            
        }
    }
    .content { //Refrence the p tag in the .pic-bg div if you change any attreibute within this div tag.
        height: 100%;
        width: 100%;
        margin: auto;
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        .portfolio-heading {
            font-size: 40px;
            color: #f4f4f4;
            margin-top: 25px;
            text-align: center;
        }
        .people-img {
            background: url("people-dark.jpg") no-repeat 50% 50%;
        }
        .img-box {
            background-size: cover;
            margin: 10px auto;
            height: 130px;
            width: 230px;
        }
        .dev-match-logo {
            width: 200px;
            margin: 30px 15px 15px 15px;
        }
        .text-container {
            margin-top: 10px;
            font-size: 16px;
            
        }
        .devmatch-text {
            font-size: 25px;
            color: #f4f4f4;
            text-align: center;
            transition: all 500ms;
        }
    }
}
//Contact---------------------------------------------------------------

.contact {
    background-color: #11203d;
    height: 30%;
    .contact-logo {
        margin: 50px auto 35px;
        display: block;
    }
    .footer-icons-row {
        text-align: center;
        .footer-icons {
            border-style: solid;
            border-color: #0a172e;
            border-radius: 100%;
            margin-top: 15px;
            margin-left: 3px;
            margin-right: 3px;
            color: #f4f4f4;
            padding: 6px;
            background-color: #0a172e;
        }
    }
    .email-container {
        margin-bottom: 15px;
        height: 40px;
        .email {
        display: block;
        text-align: center;
        color: #f4f4f4;
        margin-top: 15px;
        display: none;
        }
    }
    .created-by {
        text-align: center;
        color: #f4f4f4;
    }
}

/* test */